@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

header #logoContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logoContainer img[src="img/logo.png"] {
  justify-self: flex-start;
}

header #logoContainer img[src="img/banner.png"] {
  justify-self: flex-end;
}

header nav {
  background-color: #8e1616;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
}

header nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

header nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer nav ul {
  display: inline-block;
  list-style-type: none;
}

footer nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: white;
}

footer nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
}

footer img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

main #landing {
  background-image: url("../img/traffic-332857_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #landing h1 {
  -ms-grid-column-align: start;
      justify-self: start;
  color: white;
}

main #landing #calculator {
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  background-color: white;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #landing #calculator #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #landing #calculator #form div {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

main #landing #calculator #form input,
main #landing #calculator #form select {
  width: 50%;
}

main #landing #calculator input[type="button"] {
  background-color: #339235;
  border-radius: 10px;
  color: white;
}

main #landing #calculator h3 {
  color: #339235;
}

main #blurb {
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #blurb h3 {
  text-align: center;
}

main #blurb p {
  text-align: center;
}

main #insuranceCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #insuranceCards div {
  border-radius: 2px;
  border-style: solid;
  border-width: 2px 0.5px 0.5px 0.5px;
  border-color: black lightgrey lightgrey lightgrey;
  -webkit-box-shadow: 3px 1px lightgrey;
          box-shadow: 3px 1px lightgrey;
}

main #insuranceCards div .insuranceType {
  color: #00003f;
}

main #insuranceCards div .benefits {
  list-style: none;
}

main #insuranceCards div .benefits li:before {
  content: "✓";
  color: teal;
}

main #insuranceCards div .summary {
  font-weight: bold;
}

main #insuranceCards div .details {
  color: grey;
  word-wrap: normal;
}
