@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

header #logoContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logoContainer img[src="img/logo.png"] {
  justify-self: flex-start;
  margin-right: 2%;
}

header #logoContainer img[src="img/banner.png"] {
  justify-self: flex-end;
  margin: 1% 0;
}

header nav {
  background-color: #8e1616;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0.5% 5%;
}

header nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

header nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  padding-right: 15px;
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}

footer nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0.5% 5%;
}

footer nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

footer nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  padding-right: 15px;
}

footer img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5%;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.5vw;
  margin-bottom: 2%;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  body header img[src="img/logo.png"] {
    height: 3vh;
    margin: 2% 0;
  }
  body header img[src="img/banner.png"] {
    display: none;
  }
  body header nav ul li a {
    font-size: 2vh;
  }
  body footer nav ul li a {
    font-size: 2vh;
  }
  body footer img {
    width: 25%;
  }
  body footer p {
    font-size: 1.5vh;
  }
}

main #landing {
  background-image: url("../img/traffic-332857_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #landing h1 {
  -ms-grid-column-align: start;
      justify-self: start;
  color: white;
  margin: 2% 5% 0% 5%;
}

main #landing #calculator {
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5vh;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

main #landing #calculator h2 {
  font-weight: bold;
  font-size: 3vw;
  width: 40%;
  text-align: center;
}

main #landing #calculator #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

main #landing #calculator #form div {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: start;
  margin-bottom: 2%;
  width: inherit;
}

main #landing #calculator #form input,
main #landing #calculator #form select {
  width: 100%;
  height: 70%;
  background-color: white;
  font-size: 2vw;
}

main #landing #calculator #form p {
  font-size: 1.5vw;
  width: inherit;
  padding: 0;
  margin: 0;
}

main #landing #calculator input[type="button"] {
  background-color: #339235;
  border-radius: 10px;
  color: white;
  width: 30%;
  margin-top: 2.5%;
  font-size: 2.5vw;
  padding: 1%;
}

main #landing #calculator #insuranceOutput {
  color: #339235;
  visibility: hidden;
  font-size: 2vw;
}

main #blurb {
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #blurb div {
  margin: 8vh 3% 3% 3%;
}

main #blurb div h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

main #blurb div p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

main #insuranceCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #insuranceCards #cardContainer {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #insuranceCards #cardContainer #basic,
main #insuranceCards #cardContainer #premium {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px 0.5px 0.5px 0.5px;
  border-color: black lightgrey lightgrey lightgrey;
  -webkit-box-shadow: 3px 1px lightgrey;
          box-shadow: 3px 1px lightgrey;
}

main #insuranceCards #cardContainer #basic div,
main #insuranceCards #cardContainer #premium div {
  margin: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #insuranceCards #cardContainer #basic div .insuranceType,
main #insuranceCards #cardContainer #premium div .insuranceType {
  color: #00003f;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

main #insuranceCards #cardContainer #basic div .tagline,
main #insuranceCards #cardContainer #premium div .tagline {
  margin: 0;
  font-size: 1.5vw;
}

main #insuranceCards #cardContainer #basic div .benefits,
main #insuranceCards #cardContainer #premium div .benefits {
  list-style: none;
  padding: 0;
  margin: 5% 0;
  width: 100%;
}

main #insuranceCards #cardContainer #basic div .benefits li,
main #insuranceCards #cardContainer #premium div .benefits li {
  font-size: 1.5vw;
  margin: 5% 0;
}

main #insuranceCards #cardContainer #basic div .benefits li:before,
main #insuranceCards #cardContainer #premium div .benefits li:before {
  content: "✓";
  color: teal;
  margin-right: 2%;
}

main #insuranceCards #cardContainer #basic div .summary,
main #insuranceCards #cardContainer #premium div .summary {
  font-weight: bold;
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
}

main #insuranceCards #cardContainer #basic div .details,
main #insuranceCards #cardContainer #premium div .details {
  color: grey;
  word-wrap: normal;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  main #landing h1 {
    font-size: 3vh;
  }
  main #landing #calculator #form div {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 5%;
  }
  main #landing #calculator #form div p {
    font-size: 1.5vh;
  }
  main #landing #calculator #form div input {
    height: 2vh;
    font-size: 1.5vh;
  }
  main #landing #calculator #form div select {
    font-size: 1.5vh;
  }
  main #landing #calculator #insuranceOutput {
    font-size: 2vh;
  }
  main #blurb div h3 {
    font-size: 2vh;
  }
  main #blurb div p {
    font-size: 1.5vh;
  }
  main #insuranceCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 80%;
    margin: 0 auto;
  }
  main #insuranceCards #cardContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  main #insuranceCards #cardContainer #basic,
  main #insuranceCards #cardContainer #premium {
    margin: 5% 0;
  }
  main #insuranceCards #cardContainer #basic div .insuranceType,
  main #insuranceCards #cardContainer #premium div .insuranceType {
    font-size: 2vh;
  }
  main #insuranceCards #cardContainer #basic div .tagline,
  main #insuranceCards #cardContainer #premium div .tagline {
    font-size: 1.5vh;
  }
  main #insuranceCards #cardContainer #basic div .benefits li,
  main #insuranceCards #cardContainer #premium div .benefits li {
    font-size: 1.5vh;
  }
  main #insuranceCards #cardContainer #basic div .summary,
  main #insuranceCards #cardContainer #premium div .summary {
    font-size: 1.5vh;
  }
  main #insuranceCards #cardContainer #basic div .details,
  main #insuranceCards #cardContainer #premium div .details {
    font-size: 1.5vh;
  }
}
