body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

header #logoContainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logoContainer img[src="img/logo.png"] {
  justify-self: flex-start;
  margin-right: 2%;
}

header #logoContainer img[src="img/banner.png"] {
  justify-self: flex-end;
  margin: 1% 0;
}

header nav {
  background-color: #8e1616;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0.5% 5%;
}

header nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

header nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  padding-right: 15px;
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}

footer nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0.5% 5%;
}

footer nav ul li {
  display: inline;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

footer nav ul li a {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  padding-right: 15px;
}

footer img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5%;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.5vw;
  margin-bottom: 2%;
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  body header img[src="img/logo.png"] {
    height: 3vh;
    margin: 2% 0;
  }
  body header img[src="img/banner.png"] {
    display: none;
  }
  body header nav ul li a {
    font-size: 2vh;
  }
  body footer nav ul li a {
    font-size: 2vh;
  }
  body footer img {
    width: 25%;
  }
  body footer p {
    font-size: 1.5vh;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  margin: 2% 0 0 5%;
  text-align: start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main #teamContainer {
  margin: 5% 10% 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #teamContainer .card {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 100%;
  width: 100%;
  margin: 2%;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px 0.5px 0.5px 0.5px;
  border-color: lightgrey;
  -webkit-box-shadow: 3px 1px lightgrey;
          box-shadow: 3px 1px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #teamContainer .card .cardImg {
  height: 40vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
}

main #teamContainer .card .cardName {
  font-size: 3vh;
  font-weight: bold;
  padding: 0;
  margin: 2% 0 2% 0;
}

main #teamContainer .card .cardEmail {
  font-size: 1.5vh;
  color: grey;
  margin: 0 0 2% 0;
  padding: 0;
}

main #teamContainer .card .cardText {
  display: none;
  font-size: 1.5vh;
  text-align: center;
  margin: 0 3% 5% 3%;
}

main #teamContainer .card:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
