$accentColour: #8e1616;
$secondaryAccentColour: #339235;
$backgroundColour_grey: #cecece;
$accentFont: #00003f;

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

header {
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	align-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	top: 0;

	#logoContainer {
		flex-basis: 100%;
		width: 90%;
		align-self: center;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img[src="img/logo.png"] {
			justify-self: flex-start;
			margin-right: 2%;
		}

		img[src="img/banner.png"] {
			justify-self: flex-end;
			margin: 1% 0;
		}
	}

	nav {
		background-color: $accentColour;
		flex-basis: 100%;

		ul {
			display: inline-block;
			list-style-type: none;
			padding: 0;
			margin: 0.5% 5%;

			li {
				display: inline;
				text-decoration-style: none;

				a {
					text-decoration-style: none;
					text-decoration: none;
					color: white;
					font-size: 1.5vw;
					font-weight: bold;
					padding-right: 15px;
				}
			}
		}
	}
}

footer {
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	nav {
		align-self: flex-start;
		flex-basis: 100%;
		width: 100%;

		ul {
			display: inline-block;
			list-style-type: none;
			padding: 0;
			margin: 0.5% 5%;

			li {
				display: inline;
				text-decoration-style: none;

				a {
					text-decoration-style: none;
					text-decoration: none;
					color: white;
					font-size: 1.5vw;
					font-weight: bold;
					padding-right: 15px;
				}
			}
		}
	}

	img {
		align-self: flex-end;
		margin-right: 5%;
	}

	p {
		align-self: center;
		color: white;
		font-size: 1.5vw;
		margin-bottom: 2%;
	}
}
