@import "main";

main {
	#landing {
		background-image: url("../img/traffic-332857_1920.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		h1 {
			justify-self: start;
			color: white;
			margin: 2% 5% 0% 5%;
		}

		#calculator {
			align-self: center;
			width: 80%;
			background-color: rgba(255, 255, 255, 0.8);
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: center;

			position: relative;
			top: 5vh;

			border-radius: 5px;
			border-style: solid;
			border-width: 2px;
			border-color: black;

			h2 {
				font-weight: bold;
				font-size: 3vw;
				width: 40%;
				text-align: center;
			}

			#form {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				text-align: center;

				div {
					flex-basis: 40%;
					text-align: start;
					margin-bottom: 2%;
					width: inherit;
				}

				input,
				select {
					width: 100%;
					height: 70%;
					background-color: white;
					font-size: 2vw;
				}

				p {
					font-size: 1.5vw;
					width: inherit;
					padding: 0;
					margin: 0;
				}
			}

			input[type="button"] {
				background-color: $secondaryAccentColour;
				border-radius: 10px;
				color: white;
				width: 30%;
				margin-top: 2.5%;
				font-size: 2.5vw;
				padding: 1%;
			}

			#insuranceOutput {
				color: $secondaryAccentColour;
				visibility: hidden;
				font-size: 2vw;
			}
		}
	}

	#blurb {
		background-color: $backgroundColour_grey;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		div {
			margin: 8vh 3% 3% 3%;

			h3 {
				text-align: center;
				margin: 0;
				padding: 0;
				font-size: 2vw;
			}

			p {
				text-align: center;
				margin: 0;
				padding: 0;
				font-size: 1.5vw;
			}
		}
	}

	#insuranceCards {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		#cardContainer {
			margin: 5% 0;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-evenly;

			#basic,
			#premium {
				flex-basis: 40%;
				border-radius: 5px;
				border-style: solid;
				border-width: 2px 0.5px 0.5px 0.5px;
				border-color: black lightgrey lightgrey lightgrey;
				box-shadow: 3px 1px lightgrey;

				div {
					margin: 8%;
					display: flex;
					flex-flow: column nowrap;
					align-items: flex-start;

					.insuranceType {
						color: $accentFont;
						font-size: 2vw;
						padding: 0;
						margin: 0;
					}

					.tagline {
						margin: 0;
						font-size: 1.5vw;
					}

					.benefits {
						list-style: none;
						padding: 0;
						margin: 5% 0;
						width: 100%;

						li {
							font-size: 1.5vw;
							margin: 5% 0;
						}

						li:before {
							content: "✓";
							color: teal;
							margin-right: 2%;
						}
					}

					.summary {
						font-weight: bold;
						font-size: 1.5vw;
						margin: 0;
						padding: 0;
					}

					.details {
						color: grey;
						word-wrap: normal;
						margin: 0;
						padding: 0;
						font-size: 1.5vw;
					}
				}
			}
		}
	}
}
